<h1>College Address Book</h1>
<table id="myTable" class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>City</th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd">
        <td>1</td>
        <td id="first_name:1" contenteditable="true">Katherine</td>
        <td id="last_name:1" contenteditable="true">K</td>
        <td id="city:1" contenteditable="true">Toronto</td>
    </tr>
    <tr>
        <td>2</td>
        <td id="first_name:2" contenteditable="true">Andrew</td>
        <td id="last_name:2" contenteditable="true">Smith</td>
        <td id="city:2" contenteditable="true">Oakville</td>
    </tr>
    <tr class="odd">
        <td>3</td>
        <td id="first_name:3" contenteditable="true">Joe</td>
        <td id="last_name:3" contenteditable="true">Fresh</td>
        <td id="city:3" contenteditable="true">Hamilton</td>
    </tr>
    </tbody>
</table>
<button type="button" id="add" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button> Add new Contact
<script type="text/javascript">
    $(document).ready(function() {
        $("#add").on("click", function() {
            $('#myTable tr:last').after('<tr><td></td><td contenteditable="true">First Name</td><td contenteditable="true">Last Name</td><td contenteditable="true">City</td></tr>');
        });
    });
</script>
'